<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com  -->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Website Image Slider</title>

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!-- CSS -->
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <section class="main swiper mySwiper">
    <div class="wrapper swiper-wrapper">
      <div class="slide swiper-slide">
        <img src="images/auto.webp" alt="" class="image" />
        <div class="image-data">
          <span class="text">Experience the perfect blend of innovation and excellence.</span>
          <h2>
            Madhura offers Controls & Solutions</br> for Engine, Vehicle, and Generator
          </h2>
          <a href="#" class="button">About Us</a>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img src="images/ev.jpg" alt="" class="image" />
          <span class="text">Experience the perfect blend of innovation and excellence.</span>
          <h2>
            Madhura offers Controls & Solutions</br> for Engine, Vehicle, and Generator
          </h2>
          <a href="#" class="button">About Us</a>
        </div>
      </div>
      <div class="slide swiper-slide">
        <img src="images/iot.jpg" alt="" class="image" />
        <div class="image-data">
          <span class="text">Experience the perfect blend of innovation and excellence.</span>
          <h2>
            Madhura offers Controls & Solutions</br> for Engine, Vehicle, and Generator
          </h2>
          <a href="#" class="button">About Us</a>
        </div>
      </div>
    </div>

    <div class="swiper-button-next nav-btn"></div>
    <div class="swiper-button-prev nav-btn"></div>
    <div class="swiper-pagination"></div>
  </section>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</body>

</html>